<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandity.disastersystem">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/di"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="sugar_example.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.nandity.disastersystem.database" />
        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity
            android:name=".activity.MyTaskActivity"
            android:label="@string/title_activity_my_task"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CompleteTaskActivity"
            android:label="@string/title_activity_complete_task"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CreateTaskActivity"
            android:label="@string/title_activity_create_task"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>